@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bodoni+Moda:ital,opsz@1,6..96&family=Kaisei+HarunoUmi&family=Kalnia:wght@300;400&family=Mulish:wght@300;400&family=Nova+Square&family=Oswald&family=PT+Serif:ital@1&family=Paytone+One&family=Playfair+Display:ital,wght@1,400;1,500&family=Quicksand:wght@500&family=Roboto+Condensed&family=Teko:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'PT Serif', serif;
}